

<li>
    <a asp-controller="Home" asp-action="Index"><i class="l-basic-laptop"></i><span class="txt">Dashboard</span></a>
</li>

<li>
    <a href="#"><i class="l-ecommerce-graph1"></i> <span class="txt">Demo - Rotas</span></a>
    <ul class="sub">
        <li>
            <a asp-controller="Home" asp-action="Index"><span class="txt">Home</span></a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Icones"><span class="txt">Icones</span></a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Privacy"><span class="txt">Privacid </span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#"><i class="l-ecommerce-graph1"></i> <span class="txt">Produtos</span></a>
    <ul class="sub">
        <li>
            <a asp-controller="Produto" asp-action="Index"><span class="txt">Produto</span></a>
        </li>
        <li>
            <a asp-controller="Produto" asp-action="Lista"><span class="txt">Lista Produtos</span></a>
        </li>
    </ul>
</li>
